@import "variable";
@import "mixins";

.schedule {
  $width: 8rem;
  $point: .5rem;

  list-style: none;
  padding: 0;
  margin: 3rem 0;
  position: relative;

  &__item {
    position:relative;
    padding: 0 0 3rem 0;
    display: flex;
    flex-direction: row;
    flex:1;

    &:last-child {
      padding-bottom: 0;
      &:before {
        content: none;
      }
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
      height: 100%;
      width: 1px;
      background-color: $g-lighten;
      top:$point;
      left: $width + $point;
      z-index: -1;
    }

    &-time {
      width: $width;
      color: $g-darken;
      font-weight: lighter;
    }

    &-point {
      display: inline-block;
      width: $point * 2;
      height: $point * 2;
      background-color: white;
      border: .25rem solid $main;
      font-size: 0;
      line-height: 0;
      border-radius: $point;
      margin: 0.3rem 1rem 0 0;
      &--pause {
        border-color: $g-light;
      }
    }

    &-topic {
      margin: 0;
      font-weight: bold;
      &--pause {
        color: $g;
      }
    }

    &-speaker {
      font-size: .9rem;
      color: $g-darken;
    }
  }
}