@import "variable";
@import "mixins";

.speaker {
  $point: 4rem;

  list-style: none;
  padding: 0;
  margin: 3rem 0;
  position: relative;

  &__item {
    position:relative;
    padding: 0 0 3rem 0;
    display: flex;
    flex-direction: row;
    flex:1;

    &-pic {
      width: $point *2;
      min-width: $point *2;
      border-radius: $point;
      overflow: hidden;
      position: relative;
      height: $point *2;
      margin-right: $point / 2;
    }
    &-img {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
    }
    &-info {

    }
    &-name {
      margin: 0;
      font-weight: bold;
      color: $main;
    }
    &-position {
      margin: 0;
    }
    &-overview {
      //margin: 0;
    }
  }
}