$accent: #f88909;
$accent-contrast: #fff;

$blue: #0095d5;
$main: #f88909;
$g-light: #ccc;
$g-lighten: lighten($g-light, 5%);
$g: darken($g-light, 5%);
$g-dark: darken($g, 10%);
$g-darken: darken($g-dark, 10%);

$breakpoints: (
  // Smart Watch
  sw: 0,
  // Extra small screen / phone
  xs: 320px,
  // Small screen / phone
  sm: 480px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1100px,
  // Max screen / HD+ desktop
  mx: 1500px
) !default;

$container-max-widths: (
  sm: 480px,
  md: 768px,
  lg: 992px,
  xl: 1100px,
  mx: 1500px
) !default;

$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 3), (min-resolution: 350dpi)'
) !default;

$im-media-support: true !default;
$im-no-media-breakpoint: 'lg' !default;
$im-no-media-expressions: ('screen', 'portrait', 'landscape') !default;
$unit-intervals: (
  'px': 1,
  'em': .01,
  'rem': .1
) !default;