* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body{
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;
  overflow: hidden;
}
.wrapper {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
  @media (min-width: $media-sm) {
    overflow: hidden;
  }
  &-in {
    min-height: 100%;
    @media (min-width: $media-sm) {
      height: 100%;
      overflow: auto;
    }
  }
}
.main {
  @media (min-width: $media-sm) {
    margin-left: 25%;
  }
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex:1;
  flex-wrap: wrap;
  min-height: 100%;
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #454441;
  background-color: #fff;
}

.clearfix {
  &:before,
  &:after {
    content:"";
    display: table;
    clear: both;
  }
}

@media (min-width: $media-sm) {
  body {
    font-size: 18px;
  }
}
ul, ol {
  margin-bottom: 15px;
}

hr {
  position: relative;
  margin: 40px 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}

strong {
  color: #222;
}

abbr {
  background-color: #eee;
  display: inline-block;
  padding: 3px;
  font-size: 13px;
  font-weight: bold;
  color: #555;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  border-radius: 3px;
}

code,
pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
}
code {
  padding: .25em .5em;
  font-size: 85%;
  color: #bf616a;
  background-color: #f9f9f9;
  border-radius: 3px;
}
pre {
  display: block;
  margin: 0 0 14px;
  padding: 15px 20px;
  font-size: 16px;
  line-height: 1.4;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f9f9f9;
}
pre code {
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: transparent;
}
.highlight {
  margin-bottom: 15px;
  border-radius: 4px;
}
.highlight pre {
  margin-bottom: 0;
}

/* Quotes */
blockquote {
  padding: 5px 30px 5px 25px;
  margin: 15px 0;
  border-left: 5px solid #eee;
}
blockquote p {
  margin-bottom: 0;
  color: #7a7a7a;
  text-indent: -0.4em;
}
blockquote p:before {
  content: '\201C';
}
blockquote p:after {
  content: '\201D';
}

/*
 * Custom type
 *
 * Extend paragraphs with `.lead` for larger introductory text.
 */

.lead {
  font-size: 20px;
  font-weight: 300;
}
@media (min-width: $media-sm) {
  .lead {
    font-size: 24px;
  }
}


/*
 * Links
 *
 * No `:visited` state is required by default (browsers will use `a`). `:focus`
 * is linked to `:hover` for basic accessibility.
 */

a {
  font-weight: 600;
  color: $main;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: none;
  color: $blue;
}


.container {
  margin: 0 auto;
  padding: 0 2rem;
  @media (min-width: $media-sm) {
    max-width: 45rem;
    padding: 0 3rem;
  }
}