.c-gallery {
  box-sizing: border-box;
  overflow: hidden;


  &__img {
    width: 100%;
    display: block;
    margin: 0;
  }

  &__item {
    position: relative; //for demo
    display: block;
    break-inside: avoid;
  }

  &__container {
    column-count: auto;
    column-gap: 0;
    column-width: 11rem;

  }
}
