.content {
  &__block {
    display: block;
    margin: 3rem 0;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
  &__header {
    margin: 0 0 10px;
    line-height: 1.25;
    text-rendering: optimizeLegibility;
    font-family: Verdana, sans-serif;
    font-weight: normal;
    text-align: center;
    color:$blue;

    &--h1 {
      font-size: 1.6rem;
    }
    &--h2 {
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }
    &--h3 {
      font-size: 1.4rem;
    }
  }
  &__text {

  }
}
